<% provide(:title, "Top") %>
<div class="center jumbotron">
    <h1>勤怠システム</h1>
    <p>このアプリケーションでは登録されたユーザーの勤怠情報の閲覧・登録・編集を
        行うことができます。</p>
    <%= link_to "Sign Up", new_user_path , class: "btn btn-lg btn-primary" %>
</div>